body
{
    background-size: cover;
}

.heading
{
    width: 100%;
    margin: 0;
    font-size: 20px;
}

.heading p
{
    font-size: 17px;
    color: black;
    font-weight: bold;
}

#start, #number_of_objects, #status
{
    font-size: 18px;
}

.copyright_footer
{
    width: 100%;
    line-height:2;
    color: white;
    background-color: rgb(14, 129, 114);
    position: fixed;
    bottom: 0;
    text-align: center;
}

canvas
{
  border-radius: 10px;
  border: 2px solid white;
  margin-top: 130px;
  box-shadow:  5px 5px 5px white;
}

input
{
  width: 500px;
  border-radius: 10px;
  border-color: aliceblue;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.400);
}